# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore virtual environment directory
venv/

# Ignore environment variables file
.env

# Ignore SQLite database file
ToDoListProj/db.sqlite3

# Ignore VS Code settings
.vscode/

# Ignore txt file
ToDoListProj/templates/file.txt
ToDoListProj/templates/file2.txt

